
.con{
    height: 100vh;
}

.img{
    background-image: url("../images/josh-gordon-fzHmP6z8OQ4-unsplash.jpg");

}

    .background {
        background-image: url('https://source.unsplash.com/random/?people+running');
        background-size: cover;
        background-position: center;
        min-height: 30vh;
        overflow-x: hidden;
}

